# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# CatBoost training outputs
catboost_info/

# Environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
